


<div id="preloader">
    <div id="preloader_bg">
        <div class="waiting-text">
            Waiting...
        </div>
    </div>
</div>
<div class="container" ng-controller="mainController">
    <div class="row main-page">
        <div class="col-md-12">
            <div class="search-block">
                <input type="text" name="search" class="main-input" ng-model="username" />
                <label for="followers">
                    <input type="radio" id="followers" name="direction" value="followers" ng-model="direction" checked  />
                    Get followers
                </label>
                <label for="follows">
                    <input type="radio" id="follows" name="direction" value="following" ng-model="direction" />
                    Get follows
                </label>
                <button ng-click="getFollowers(username,direction,count)" class="submit-btn" ui-sref="app.tasks">Search</button>

                <div class="count-block">
                    <label for="25">
                        25
                        <input type="radio" id="25" name="count" value="25" ng-model="count"/>
                    </label>
                    <label for="50">
                        50
                        <input type="radio" id="50" name="count" value="50" ng-model="count"/>
                    </label>
                    <label for="100">
                        100
                        <input type="radio" id="100" name="count" value="100" ng-model="count"/>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>















