



<div class="container-fluid">
    <div class="row">
        <div class="container" ng-controller="mainController">
            <div class="row">
                <div class="col-md-12">
                    <div class="title">LIST OF TASKS</div>
                    <ul class="taskslist"  ng-controller="getTasksController">
                        <li>
                            <div class="row">
                                <div class="col-md-3 col-sm-3 col-xs-3">
                                    Name
                                </div>
                                <div class="col-md-2 col-sm-3 col-xs-3">
                                    Direction
                                </div>
                                <div class="col-md-4 col-sm-3 col-xs-3">
                                    Start time
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-3">
                                    Progress
                                </div>
                            </div>
                        </li>

                        <li  ng-repeat="task in tasks">
                            <div class="row">
                                <div class="col-md-3 col-sm-3 col-xs-3">
                                    {{task.username}}
                                </div>
                                <div class="col-md-2 col-sm-3 col-xs-3">
                                    {{task.direction}}
                                </div>
                                <div class="col-md-4 col-sm-3 col-xs-3">
                                    {{task.create_time}}
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-3">
                                    {{task.id}}
                                    <button class="submit-btn" ng-click="getTask('1440429849282069987')">DETAILS</button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
