


<!--i was here-->
<div class="container-fluid" ng-controller="mainController">
    <div class="row">
        <div class="container" ng-controller="getTaskController">
            <div class="row">
                <div class="col-md-12">
                    <div class="title">GET TASK</div>

                    <div class="actions">
                        <button class="submit-btn" ng-click="followUnfollowAll('follow')">Subscribe</button>
                        <button class="submit-btn" ng-click="followUnfollowAll('unfollow')">UnSubscribe</button>
                        <span class="error-massage">{{errorMss}}</span>
                        <button class="submit-btn pull-right" ng-click ="checkUnCheckAll('check')">Select all</button>
                        <button class="submit-btn pull-right" ng-click ="checkUnCheckAll('uncheck')">Unselect all</button>
                    </div>
                    <ul class="users-list">
                        <li ng-repeat="user in users.result" class="users-list-block">
                            <div class="user-avatar" style="background-image: url('{{user.user.profile_pic_url_hd}}')"></div>
                            <a href="https://www.instagram.com/{{user.user.username}}/" target="_blank" class="main-link">{{user.user.username}}</a>
                            <div class="name">{{user.user.full_name}}</div>
                            <div class="description">{{user.user.biography}}</div>
                            <div class="followed_by">Followed by : {{user.user.followed_by.count}}</div>
                            <div class="follows">Follows : {{user.user.follows.count}}</div>
                            <button class="action-btn" ng-click="followUnfollowThis(user.user.username,'follow')" id="subscribe">Subscribe</button>
                            <button class="action-btn" ng-click="followUnfollowThis(user.user.username,'unfollow')" id="unsubscribe">UnSubscribe</button>
                            <input type="checkbox" name="checkbox" id="{{user.user.id}}" class="checkbox" value="{{user.user.username}}"/>
                            <label for="{{user.user.id}}" class="checkbox-label"></label>
                        </li>
                    </ul>
                    {{users}}
                    {{users.info}}
                    {{users.result}}
                </div>
            </div>
        </div>
    </div>
</div>
