
.main-input {
    padding-left: 15px;
    height: 30px;
    border: 1px solid #d28888;
    outline-color: #fff;
    box-sizing: border-box;
    width: 100%;
    display: block;
    margin-bottom: 15px;
}

.submit-btn {
    border: none;
    background-color: #ffffff;
    text-align: center;
    height: 30px;
    display: block;
    margin: 0 auto;
    width: 100px;
    border: 2px solid #d28888;
    @include mixin-transition(.2s);
    &:hover {
        color: #fff;
        border: 1px solid #d28888;
        background-color: #d28888;
    }
}


button[disabled],
html input[disabled] {
    cursor: default;
    color: #000!important;
    background: white!important;
}

.actionForm {
    .action-btn {
        margin-left: 15px;
    }
}

.action-btn {
    border: 2px solid #3897f0;
    color: #3897f0;
    background-color: #ffffff;
    outline-color: #fff;
    border-radius: 4px;
    margin-right: 10px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    text-transform: uppercase;
}

.checkbox {
    display: none;
}


.checkbox {
    vertical-align: top;
    margin: 0 3px 0 0;
    width: 17px;
    height: 17px;
  }
  
  .checkbox + label {
    cursor: pointer;
  }
  .checkbox:not(checked) {
    position: absolute;
    opacity: 0;
  }
  .checkbox:not(checked) + label {
    position: relative;
    padding: 0 0 0 60px;
  }
  .checkbox:not(checked) + label:before {
    content: '';
    position: absolute;
    top: -4px;
    left: 0;
    width: 50px;
    height: 26px;
    border-radius: 13px;
    background: #CDD1DA;
    box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
  }
  .checkbox:not(checked) + label:after {
    content: '';
    position: absolute;
    top: -2px;
    left: 2px;
    width: 22px;
    height: 22px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0 2px 5px rgba(0,0,0,.3);
    transition: all .2s;
  }
  .checkbox:checked + label:before {
    background: #d28888;
  }
  .checkbox:checked + label:after {
    left: 26px;
  }
  
  
  
  .radiobtn {
    display: none;
  }
  .radiobtn + label {
    cursor: pointer;
    position: relative;
    line-height: 22px;
    color: #273043;
    font-weight: 100;
  }
  .radiobtn+label:before {
    content: "";
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-right: 10px;
    position: relative;
    top: 4px;
    @include mixin-transition(.2s);
  }
  .radiobtn+label:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    left: 3.7px;
    top: 7.1px;
    display: inline-block;
    height: 9px;
    width: 9px;
    background: #fff;
    @include mixin-transition(.2s);
  }
  .radiobtn:checked + label:after {
    background-color: #d28888;
  }
  .radiobtn:checked + label:before {
    border: 1px solid #d28888;
  }
  .radiobtn + label:before {
    border: 1px solid #9397A1;
    border-radius: 50%;
    @include mixin-transition(.2s);
  }
  
.get-more {
    text-align: center;
    font-size: 18px;
    background-color: #ffffff;
    border: 2px solid #3897f0;
    outline-color: #fff;
    margin: 0 auto;
    width: 150px;
    height: 35px;
}

.showFilters {
    display: none;
    border: 1px solid #d28888;
    padding: 5px;
    font-weight: bold;
    margin-bottom: 15px;
    cursor:pointer;
    @media screen and (max-width: 500px) {
        display: block;
    }
}
  
.searchFormOnMobile {   
    @media screen and (max-width: 500px) {
        display: none;
    }
}
  
.showFilters.active {
    &+.searchFormOnMobile {
        display: block;
    }
}

.disabled{
    opacity: 0.5;
    pointer-events:none;
}