.cart_wrap{
    margin-top: 70px;
    @media screen and (max-width: 768px) {
       margin-top: 25px;
    }
    h3{
        margin-top: 0;
        margin-bottom: 30px;
    }
}
.added_goods_list{
    padding: 0;
    li{
        position: relative;
        margin-bottom: 15px;
        padding-left: 120px;
        min-height: 120px;
        border: 1px solid rgba(0,0,0,.0975);
        .preview{
            position: absolute;
            left: 10px;
            top: 10px;
            margin-right: 15px;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            background-color: rgba(0,0,0,.0975);
            background-size: cover;
            background-position: 50%;
            background-repeat: no-repeat;
        }
        .description{
            .title{
                color: #737373;
                font-size: 18px;
                font-family: $font_med;
                margin-bottom: 20px;
            }
            .price{
                margin: 20px 0;
                font-family: $font_med;
                line-height: 1.4;
                font-size: 16px;
            }
            .remove_btn{
                position: absolute;
                right: 10px;
                bottom: 10px;
                padding: 0px 10px;
                text-align: center;
                color: #ffffff;
                background-color: #d41818; 
                cursor: pointer;
                @include mixin_transition(.2s);
                opacity: 0.6;
                &:hover{
                    opacity: 1;
                }
            }
        }
    }
}
.changeCount{
    text-align: center;
    width: 90px;
    .minus, .plus{
        cursor: pointer;
        width: 20px;
        height: 20px;
        border: 1px solid rgba(0,0,0,.0975);
        text-align: center;
    }
    .minus{
        float: left;
    }
    .plus{
        float: right;
    }
    .allcount{
        display: inline-block;
    }
}
.form{
    input{
        border-radius: 0px;
    }
    textarea{        
        border-radius: 0px;
        min-height: 150px;
        max-height: 300px;
    }
    .btn.btn-primary{
        background-color: #f2c352;
        border-color: #f2c352;
        color: #000000;
        &:hover{
            background-color: #ca9e35;
            border-color: #ca9e35;
        }
    }
}

label.requaired{
    position: relative;
    &:after{
        content: '*';
        display: block;
        color: #d41818;
        position: absolute;
        right: 0;
        top: 0;  
        @media screen and (max-width: 768px) {
            right: 20px;
        }    
    }
}