 
.header_wrap{
    border-bottom: 1px solid rgba(0,0,0,.0975);
    padding: 15px 15px;
    padding-right: 30px;
    position: fixed;
    z-index: 10;
    background: #fff;
    ul{
        list-style-type: none;
        float: left;
        padding: 0;
        margin: 0;

        @media screen and (max-width: 500px) {      
            margin: 0 auto;
            display: block;      
            width: 200px;
            text-align: center;
            float: none;
        }
        li{
            display:inline-block;
            @media screen and (max-width: 500px) {            
                display: block;
                margin-bottom: 5px;
            }
        }
    }
    .basket{
        float: right;
        position: relative;
        left: 0;
        width: 20px;
        height: 20px;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url('./../images/shopping_cart.svg');        
        @include mixin_transition(.2s);
        &.active{
            left: -10px;
        }         
        a{
            display: block;
            width: 100%;
            height: 100%;
        }
        div{
            position: absolute;
            right: -15px;
            top: -5px;
            color: #da2020;
            font-family: $font_bold;
        }
    }
    .category{
        border: 1px solid rgba(0,0,0,.0975);
        border-radius: 3px;
        padding: 0px 10px;
        font-size: 14px;
        margin-right: 10px;
        cursor: pointer;
        @include mixin_transition(.2s);
        &:hover{
            background-color: #3897f0;
            color: #ffffff;
        }
        .title{
            font-size: 30px;
            font-family: $font_med;
            margin-bottom: 40px;
        }
        .text{
            color: #737373;
        }       
    }
}
.goods_wrap{
    margin-top: 70px;
    .goods_item{
        margin-top: 10px;
        border-bottom: 1px solid rgba(0,0,0,.0975);
        padding-bottom: 10px;
        .preview_float{
            float: left;
            width: 100%;
            max-width: 65%;
            padding: 0 15px
        }
        .description_float{
            float: right;
            width: 100%;
            max-width: 35%;
            padding: 0 15px 
        }
        &:nth-child(even){
            .preview_float{
                float: right
            }
            .description_float{
                float: left
            }
        }

        @media screen and (max-width: 768px) {
            .preview_float{
                float: none;
                max-width: 100%;
            }
            .description_float{
                float: none;
                max-width: 100%;
            }
        }
        @media screen and (max-width: 400px) {
            .preview_float{
                padding: 0;
            }
        }
        .preview{
            width: 100%;
            height: 400px;
            background-color: rgba(0,0,0,.0975);
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            @media screen and (max-width: 768px) {
                margin: 0 auto;
                height: 300px;
                width: 300px;
                margin-bottom: 10px;
            }
            @media screen and (max-width: 400px) {
                width: 100%;
            }
        }
        .description{
            .title{
                color: #737373;
                font-size: 30px;
                font-family: $font_med;                
                margin-bottom: 20px;
                @media screen and (max-width: 768px) {
                    text-align: center;
                }
            }
            .text{
                margin-bottom: 10px;
                @media screen and (max-width: 768px) {
                    text-align: center;
                }
            }            
            .price{
                margin: 20px 0;
                font-family: $font_med;
                line-height: 1.4;
                @media screen and (max-width: 768px) {
                    text-align: center;
                }
            } 
            .add_btn{
                width: 100%;
                background-color: #3897f0;
                border-radius: 0px;
                text-transform: uppercase;
                font-family: $font_bold;
                color: #ffffff;
                box-shadow:none;
                outline-color: #fff;
                opacity: 0.8;
                @include mixin_transition(.2s);
                @media screen and (max-width: 768px) {
                    margin: 0 auto;
                    width: 150px;
                    display: block;
                }
                &:hover{
                    opacity: 1;
                }
            }
        }
    }
}

.basket_wrap{
    margin-top: 70px;
}
.added_goods_list{
    padding: 0;
    li{
        position: relative;
        margin-bottom: 15px;
        border: 1px solid rgba(0,0,0,.0975);
        .preview{
            float: left;
            margin-right: 15px;
            width: 150px;
            height: 150px;
            background-color: rgba(0,0,0,.0975);
            background-size: cover;
            background-position: 50%;
            background-repeat: no-repeat;
        }
        .description{
            .title{
                color: #737373;
                font-size: 22px;
                font-family: $font_med;
                margin-bottom: 20px;
            }
            .price{
                margin: 20px 0;
                font-family: $font_med;
                line-height: 1.4;
            }
            .remove_btn{
                position: absolute;
                right: 15px;
                top: 15px;
                width: 20px;
                height: 20px;
                background-repeat: no-repeat;
                background-size: cover;
                background-image: url('./../images/close.svg');        
                @include mixin_transition(.2s);
                opacity: 0.8;
                cursor: pointer;
                &:hover{
                    opacity: 1;
                }

            }
        }
    }
}
.changeCount{
    text-align: center;
    .minus, .plus{
        cursor: pointer;
        width: 20px;
        height: 20px;
        border: 1px solid rgba(0,0,0,.0975);
        text-align: center;
    }
    .minus{
        float: left;
    }
    .plus{
        float: right;
    }
    .allcount{
        display: inline-block;
    }
}
