{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en" ng-app="application">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Proba pera</title>
    <!-- styles -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/default.css" rel="stylesheet">
    <base href="/">
</head>
    <body>
        <div class="wrapper">
            <div ui-view="header"></div>
            <div ui-view="content"></div>
            <div ui-view="footer"></div>
        </div>
    </body>
    <!--scripts-->
    <script src="{%  static 'scripts/libs/angular.min.js'%} "></script>
    <script src="{%  static 'scripts/libs/angular-ui-router.min.js'%} "></script>
    <script src="{%  static 'scripts/app.js'%} "></script>
    <script src="{%  static 'scripts/contollers.js'%} "></script>
</html>